@model Sales_NET8.Web.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_CountryDetails" />

</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Voltar à lista</a>
</div>
